<footer class="main-footer container">
    <a href="/" class="footer-logo">
        <img src="{{ assetsPath }}/img/global/main-logo.svg" class="img-responsive" alt="{{ appName }}">
    </a>
    <div class="footer-social row center-xs">
        <h6>FOLLOW US:</h6>
        <nav>
            {{!-- <a href="" class="xs"><img src="{{ assetsPath }}/img/global/social/instagram-logo.svg" width="36" alt=""></a> --}}
        </nav>
    </div>
    <div class="row">
        {{> global/main-menu}}
    </div>
    <div class="row">
        <small class="xs-12">&copy; {{ moment today format="YYYY"}} {{ appName }}. All rights reserved.  - <a href="">Privacy Policy</a> | <a href="">Terms of Use</a></small>
    </div>
</footer>
