<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ metas.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="{{ metas.description }}">

{{!-- FavIcon --}}
<link rel="apple-touch-icon" sizes="180x180" href="{{ assetsPath }}/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ assetsPath }}/img/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ assetsPath }}/img/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ assetsPath }}/img/favicons/manifest.json">
<link rel="mask-icon" href="{{ assetsPath }}/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="Roatan Excursions">
<meta name="application-name" content="Roatan Excursions">
<meta name="theme-color" content="#ffffff">

<link type="text/plain" rel="author" href="{{ assetsPath }}/humans.txt"> <!-- Because we are not robots -->
